.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  app-canvas {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  app-toolbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }
}
