.drawing-board {
  background-color: #f5efe7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

canvas {
  cursor: crosshair;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background: white;
  display: block;
  // max-width: calc(100vw - 40px);
  // max-height: calc(100vh - 120px);
  transform-origin: center center;
  transition: transform 0.1s ease-out;
  user-select: none;

  &.pan-mode {
    cursor: grab;
  }

  &.panning {
    cursor: grabbing;
  }
}
